<!-- gnt  -->
<!-- <ion-content>
  <iframe
    src="https://feeds.intoday.in/livetv/ver-3-0/?id=livetv-gnt&amp;aud_togle=0&amp;autostart=1&amp;mute=0&amp;t_src=live_tv_page&amp;t_med=web&amp;utm_medium=web&amp;utm_source=live_tv_page&amp;v=1.3&amp;noads=0"
    class="tv-frame"
    frameborder="0" 
    scrolling="no" 
    allow="autoplay; fullscreen" 
    allowfullscreen="yes"
    mozallowfullscreen="yes"
    webkitallowfullscreen="yes"
    >
  </iframe>
</ion-content> -->


<!-- India tv -->
<!-- <ion-content>
  <iframe 
    src="https://www.indiatvnews.com/iframe/playerlivetv?accountId=63bd2161756d5f000872bc0b&amp;videoId=9ffbeb67a09d8_live&amp;playerDivId=vidgyor&amp;pip=0&amp;piv=0&amp;aspectRatio=16:9&amp;aud_togle=0&amp;mute=0&amp;" 
    class="tv-frame"
    frameborder="0" 
    scrolling="no" 
    allow="autoplay; fullscreen" 
    allowfullscreen="yes"
    mozallowfullscreen="yes"
    webkitallowfullscreen="yes"
    >
  </iframe>
</ion-content> -->


<!-- abp news  -->
<!-- <ion-content>
  <iframe
  src="https://cdn.abplive.com/LiveStreams/abp_live_tv/hindi/live-tv.html?aud_togle=0&amp;mute=0&amp;aspectRatio=16:9&amp;"
  class="tv-frame"
  frameborder="0" 
  scrolling="no" 
  allow="autoplay; fullscreen" 
  allowfullscreen="yes"
  mozallowfullscreen="yes"
  webkitallowfullscreen="yes"
  > 
  </iframe>
</ion-content> -->


<!-- aaj tak  -->
<!-- <ion-content>
  <iframe
  src="https://feeds.intoday.in/livetv/ver-3-0/?id=livetv-at&amp;aud_togle=0&amp;autostart=1&amp;mute=0&amp;utm_medium=web&amp;utm_source=livetvpage&amp;v=1.5&amp;debug=false&amp;dimlight=0&amp;noads=0"
  class="tv-frame"
  frameborder="0" 
  scrolling="no" 
  allow="autoplay; fullscreen" 
  allowfullscreen="yes"
  mozallowfullscreen="yes"
  webkitallowfullscreen="yes"
  >
  </iframe>
</ion-content> -->


<!-- zee news  -->
<!-- <ion-content>
  <iframe
  src="https://zeenews.india.com/hindi/live-tv/embed?taptounmute=0&amp;mute=0&amp;aspectRatio=16:9&amp;autoplay=1&amp;piv=1&amp;pip=0&amp;" 
  class="tv-frame"
  frameborder="0" 
  scrolling="no" 
  allow="autoplay; fullscreen" 
  allowfullscreen="yes"
  mozallowfullscreen="yes"
  webkitallowfullscreen="yes"
  >
  </iframe>
</ion-content> -->


<!-- src="https://prideeast.thelegitpro.in/newslive/newslive?aud_togle=0&mute=1&aspectRatio=16:9&autoplay=1" -->
<!-- news live  -->
<ion-content>
  <iframe 
  src="https://prideeast.thelegitpro.in/newslive/newslive/embed.html?aud_togle=0&mute=0&aspectRatio=16:9&autoplay=1"
  class="tv-frame" 
  frameborder="0" 
  scrolling="no"
  allow="autoplay; fullscreen" 
  allowfullscreen 
  mozallowfullscreen 
  webkitallowfullscreen
>
</iframe>
</ion-content>


<!-- dy365  -->
<!-- <ion-content>
  <iframe src="https://smartstream.org.in/dy365secure?aud_togle=0&amp;mute=0&amp;aspectRatio=16:9&amp;" 
  class="tv-frame" 
  frameborder="0" 
  scrolling="no"
  allow="autoplay; fullscreen" 
  allowfullscreen="yes" 
  mozallowfullscreen="yes" 
  webkitallowfullscreen="yes"
  >
  </iframe>
</ion-content> -->


<!-- pratidin time  -->
<!-- <ion-content>
  <iframe class="ptlive" src="https://server.thelegitpro.in/pratidintime/pratidintime/embed.html?aud_togle=0&amp;mute=0&amp;aspectRatio=16:9&amp;"
  class="tv-frame" 
  frameborder="0" 
  scrolling="no"
  allow="autoplay; fullscreen" 
  allowfullscreen="yes" 
  mozallowfullscreen="yes" 
  webkitallowfullscreen="yes"
  >
  </iframe>
</ion-content> -->


<!-- nk tv +  -->
<!-- <ion-content>
  <iframe
  src="https://smartstream.in/nktvplus?aud_togle=0&amp;mute=0&amp;aspectRatio=16:9&amp;"
  class="tv-frame" 
  frameborder="0" 
  scrolling="no"
  allow="autoplay; fullscreen" 
  allowfullscreen="yes" 
  mozallowfullscreen="yes" 
  webkitallowfullscreen="yes"
  >
  </iframe>
</ion-content> -->


<!-- 9xm  -->
<!-- <ion-content>
  <iframe 
  src="https://www.9xm.in/livetv.php?aud_togle=0&amp;mute=0&amp;aspectRatio=16:9&amp;"
  class="tv-frame" 
  frameborder="0" 
  scrolling="no"
  allow="autoplay; fullscreen" 
  allowfullscreen="yes" 
  mozallowfullscreen="yes" 
  webkitallowfullscreen="yes"
  >
  </iframe>
</ion-content> -->